//variables
$color-primary:black;
$color-secondary:white;
$color-tertiary:purple;


*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;   
    line-height: 1.6; 
             
}

@mixin text-align-center{
    text-align: center;
}

@mixin margin-bottom {
    margin-bottom: 2rem;
}

@mixin gap {
    gap: 1rem;
}

@mixin margin-auto{
    margin:auto;
}

@mixin margin-p{
    margin: .5em;
}

@mixin block-formatation{
    h2{            
        @include text-align-center;
        flex-basis: 100%;                      
    }  
    p{            
        flex-basis:40%;            
    } 
}

p{    
    max-width: 50ch;
    min-width: 20ch;   
    hyphens: auto;              
}


:is(header,.firstSection,.buttons,.conteudo-dinamico,.price-table){
    display: flex;
    @include margin-bottom;
    @include gap;
}

header{    
    background-color: $color-primary;
    color: $color-secondary;    
    flex-flow: column wrap;      
    align-items:center;    
       
    h1{
        font-weight: 900;
        @include text-align-center;                                                
    } 
   
    p{
        @include text-align-center; 
        font-size: 1.5rem;                                 
    }   
}

.figure{    
    img{
        width: inherit;
        height: 100%;                                                                    
    } 

    figure{        
        width: clamp(300px,100%,400px);                                            
    } 
}



.firstSection{        
    flex-flow: column wrap;      
    align-items: center;       
}

.buttons{       
    flex-flow: row wrap;    
    justify-content: center;    

    button{
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;                                       
    }
    figure{               
        max-width: 80px;
        height: 70px;         
    }
    img{           
        height: inherit;
        object-fit: fill;        
        max-width: inherit;                                                         
    }    
    div{  
        @include gap;  
        display: inherit;
        flex-flow: column wrap;
        align-items: center;               
        cursor: pointer;                   
    }     
    p{         
        font-weight: 600;
        font-size: 1.5rem;
    }  
}

.conteudo-dinamico{       
    flex-flow: column  wrap;
    justify-content: center;
    align-items: center;      
       
    article{ 
        @include gap;        
        width: 100%;        
        display: inherit;        
        flex-flow: column wrap;
        align-items: center;                  
    } 
    p{
        @include margin-p;       
    } 
        
}

.price-table{       
    flex-flow: column wrap;
    align-items: center;
    p{        
         @include margin-p;       
    }    
    h2{
        @include text-align-center;
        font-size: 1.5rem;
        font-weight: 600;        
    }
}

footer{
    background-color: $color-primary;
    display: block;
    section{        
        color: $color-secondary;
        display: flex;
        flex-flow: column wrap;  
        align-items: center; 
        text-align: center;                             
    }
    img{        
        max-width: 30px;        
        margin-right:1rem;                                                 
    }
    a{
        text-decoration: none;
        color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: .2rem;
    }   
}

.footer-title{
    font-weight: 900;
    font-size: 1.3em;
    margin: 0 auto;         
}

.footer-subtitle{
    margin-bottom: 1rem;    
    margin: 0 auto;
    padding-bottom: 1rem;    
}
  
@media only screen and  (min-width:768px){   
    header{
        flex-direction: row;
        justify-content: space-evenly; 
        align-items: center;             
    }
    .firstSection{
        flex-direction: row;
        justify-content: space-evenly;                              
    }
    .buttons{
        justify-content: space-evenly;                             
    }
    .conteudo-dinamico{ 
        @include block-formatation;                
        article{            
            flex-direction: row;                       
            justify-content:space-evenly; 
            align-items: center;                                                                     
        } 
        .row-reverse{
            flex-direction: row-reverse;
        }
            
    } 
    .price-table{
        flex-direction: row-reverse;
        justify-content: space-evenly;        
        @include block-formatation;       
    }   
}