<main class="conteudo-dinamico figure">

    <article>
        <h2>Aulas 100% online</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure>
            <img src="../Website-Ivana/Image/aluno.png" alt="Aula ingles online">            
        </figure>    
    </article>

    <article class="row-reverse"> 
        <h2>Conversação</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
     
        <figure>
            <img src="../Website-Ivana/Image/conversa.jpg" alt="aulas de conversação">            
        </figure>             
        
    </article>

    <article>
        <h2> Teste de Proficiência</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>

        <figure>
            <img src="../Website-Ivana/Image/proficiencia.jpg" alt="Preparação para teste de proficiência">            
        </figure>    
    </article>

    <article class="row-reverse"> 
        <h2>Reforço Escolar</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
       
        <figure>
            <img src="../Website-Ivana/Image/reforco_escolar.jpg" alt="Reforço escolar">            
        </figure>               
    </article>

    <article>
        <h2>Acompanhamento Acadêmico</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>

        <figure>
            <img src="../Website-Ivana/Image/acompanhamento.jpg" alt="Acompanhamendo Acadêmico">            
        </figure>    
    </article>

    <article class="row-reverse">
        <h2>National Geographic</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>

        <figure>
            <img src="../Website-Ivana/Image/book1.jpg" alt="Book National Geographic, World Link edition 3">            
        </figure>    
    </article>

    <article>
        <h2>Cambridge</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>

        <figure>
            <img src="../Website-Ivana/Image/book2.jpg" alt="Cambridge English  book, first certificate Trainer">            
        </figure>    
    </article>

</main>