<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/home.css" type="text/css">
    <title>Professora Particular de Ingles, Ivanna Lages.</title>
</head>
<body>
    <header class="figure">
        
        <figure>
            <img src="..\Image\banner1.jpg" alt="Ivana,Professora de Inglês">
        </figure>
        <div>
            <p>Bem-vindo</p>
            <p>ao espaço</p>
            <h1>Ivana Ikegame</h1>                        
        </div>
    </header>

    
    
    <section class="buttons"></section>      

        <div>
            <button>Estudantes</button>

            <figure>
                <img src="../Image/aluno.jpg" alt="aluno">
            </figure>
        </div>
        
        <div>
            <button>Professores</button>
            
            <figure>
                <img src="../Image/professor.jpg" alt="professor">
            </figure>
        </div>

        <div>
            <button>Empresas</button>
            
            <figure>
                <img src="../Image/empresa.jpg" alt="empresa">
            </figure>
        </div>

    </section> 
    
    <section class="firstSection figure">
        <h2>Sobre mim</h2>
        <figure>
            <img src="../Image/banner2.jpg" alt="">
        </figure>        
    </section>

    {{content}}  
    
    <section class="price-table figure row-reverse">        
        <h2>Pacotes disponíveis</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>

        <figure>
            <img src="../Image/banner3.jpg" alt="">
        </figure>
    </section>    

    <footer>
        <section>
            <p class="footer-title"> Minhas Mídias Sociais</p>
            <p class="footer-subtitle">Me acompanhe por lá para ficar por dentro de conteudos relevantes da lingua inglesa</p>       
            <a href="#"><img src="../Image/instagram_icon.jpg" alt="">Instagram</a>
        </section>
    </footer>

</body>
</html>