
<section class="buttons">                 
    <div>
        <a href="{{URL}}/Alunos">
        <button>Estudantes</button>      
        </a>
    </div>
    
    <div>
        <a href="{{URL}}/Professores">
        <button>Professores</button>              
        </a>
    </div>   
</section> 

<div class="content"> Serviços para<div>Empresas</div> </div>

<main class="conteudo-dinamico figure">

    <article>
        <h2>Treinamento,Seleção e Recrutamento de Professores</h2>
        <p>Recrutamento,seleção e treinamento de professores nas metodologias utilizadas nos principais cursos de idiomas. Como por exemplo communicative approach</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/treinamento.jpg" alt="">
        </figure>
    </article>    
</main> 