
<section class="buttons">                 
    <div>
        <a href="{{URL}}/Alunos">
        <button>Estudantes</button>      
        </a>
    </div>
    
    <div>
        <a href="{{URL}}/Professores">
        <button>Professores</button>              
        </a>
    </div>   
</section> 

<div class="content"> Serviços para<div>Empresas</div> </div>

<main class="conteudo-dinamico figure">

    <article>
        <h2>Treinamento</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/treinamento.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse">
        <h2>Recrutamento</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/recrut.jpg" alt="">
        </figure>
    </article>

    <article>
        <h2>Seleção</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/select.jpg" alt="">
        </figure>
    </article>
</main> 