
<section class="buttons">     
    <div>
        <a href="{{URL}}/Professores">
        <button>Professores</button>              
        </a>
    </div>
    
    <div>
        <a href="{{URL}}/Empresas">
        <button>Empresas</button>               
        </a>
    </div>
</section> 

<div class="content"> Serviços para <div>Alunos</div></div>

<main class="conteudo-dinamico">

    <article>
        <h2>Aulas</h2>
        <p>Aulas presenciais ou remotas de conversação e/ou preparação para certificações.
        Preparo também para provas de mestrado e doutorado tendo diversos alunos aprovados em primeiras colocações</p>
           
        <figure class='figure'>
            <img src="../Website-Ivana/Image/online.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse"> 
        <h2>Conversação</h2>
        <p>  Assuntos da atualidade debatido de forma dinâmica e como ferramenta para ampliação de vocabulário e desenvoltura ao falar</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/speech.png" alt="">
        </figure>
        
    </article>

    <article>
        <h2> Teste de Proficiência</h2>
        <p>Aulas teóricas e práticas utilizando materiais internacionais, tais com Cambridge Press e Oxford. Além de mocking tests e resolução de provas aplicadas anteriormente.</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/proficiencia.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse"> 
        <h2>Reforço Escolar</h2>
        <p>Reforço escolar de Primeiro ao nono ano - Acompanhamento das atividades escolares ao longo do ano letivo com preparação para provas,testes e resolução de trabalhos escolares ao longo do ano</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/reforco_escolar.jpg" alt="">
        </figure>
    <article>

    <article>
        <h2>Acompanhamento Acadêmico</h2>
        <p> Auxiliando alunos de graduação na compreensão e/ou elaboração de textos acadêmicos.Provendo entendimento de correntes filosóficas e de grandes autores nas áreas de Filosofia,Sociologia, Letras,Direito e Administração</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/acompanhamento.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse">
        <h2>Material Didático</h2>
        <p>Matérial didático de acordo com a necessidade do aluno dentre as opções de Cambridge University Press, Oxford, National Geografic.</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/book.jpg" alt="">
        </figure>
    </article>

    <article>
        <h2>Concurso Público</h2>
        <p>Aulas teóricas e práticas e soluções de testes anteriores</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/concurso.jpg" alt="">
        </figure>
    </article>
</main>