
<section class="buttons">     
    <div>
        <a href="{{URL}}/Professores">
        <button>Professores</button>              
        </a>
    </div>
    
    <div>
        <a href="{{URL}}/Empresas">
        <button>Empresas</button>               
        </a>
    </div>
</section> 

<div class="content"> Serviços para <div>Alunos</div></div>

<main class="conteudo-dinamico">

    <article>
        <h2>Aulas</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
           
        <figure class='figure'>
            <img src="../Website-Ivana/Image/online.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse"> 
        <h2>Conversação</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
     
        <figure class='figure'>
            <img src="../Website-Ivana/Image/speech.png" alt="">
        </figure>
        
    </article>

    <article>
        <h2> Teste de Proficiência</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/proficiencia.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse"> 
        <h2>Reforço Escolar</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/reforco_escolar.jpg" alt="">
        </figure>
    <article>

    <article>
        <h2>Acompanhamento Acadêmico</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/acompanhamento.jpg" alt="">
        </figure>
    </article>

    <article class="row-reverse">
        <h2>Material Didático</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/book.jpg" alt="">
        </figure>
    </article>

    <article>
        <h2>Concurso Público</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo autem adipisci minima fuga incidunt velit dignissimos pariatur unde fugiat cum fugit temporibus porro commodi, magnam blanditiis sunt! Vero, cupiditate rerum?</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/concurso.jpg" alt="">
        </figure>
    </article>
</main>