
<section class="buttons">                 
    <div id="firstbutton">
        <a href="{{URL}}/Alunos">
        <button type="button">Estudantes</button>      
        </a>
    </div>   
    
    <div>
        <a href="{{URL}}/Empresas">
        <button>Escolas</button>               
        </a>
    </div>
</section> 

<div class="content"><div>Professores</div></div>

<main class="conteudo-dinamico figure">

    <article>
        <h2>Provas</h2>
        <p>Confecção de provas e testes para professores do primeiro ao nono ano</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/provas.jpg" alt="">
        </figure>
    </article>

    <article class='row-reverse'>
        <h2>Preparação de Aula</h2>
        <p>Preparação de aula para professores do primeiro ao nono ano</p>
        <figure class='figure'>
            <img src="../Website-Ivana/Image/aulas.jpg" alt="">
        </figure>
    </article>   

    <article>
        <h2>Mestrado e Doutorado</h2>
        <p>Preparação para prova de Língua Inglesa para mestrado e doutorado</p>
             <figure class='figure'>
            <img src="../Website-Ivana/Image/degree.jpg" alt="">
        </figure>
    </articleclass=>
</main>  