<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">      
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Website-Ivana/Style/home.css" type="text/css">
        <title>ENGLISH FOR EXAMS</title>
    </head>
    <body>
        <header>                        
            <h1>english <div>for</div> exams</h1>    
        </header>           
        
        
        <section class="firstSection">
            
            <article class='firstArticle'>
                <h2>Quem sou </h2>

                <div>
                    <figure>
                        <img src="../Website-Ivana/Image/photo.png" alt="Ivana Lages foto">
                    </figure> 
    
                    <p>                    
                        Lorem ipsum dolor sit, amet consectetur 
                        adipisicing elit. Quo autem adipisci minima fuga 
                        incidunt velit dignissimos pariatur unde fugiat
                        cum fugit temporibus porro commodi, magnam 
                        blanditiis sunt! Vero, cupiditate rerum?
                    </p> 
                </div>
                   
                        
            </article>   
            
            <article class='secondArticle'>
                
                <div>
                    <h2>Formação</h2>
                    <figure>
                        <img src="../Website-Ivana//Image/diploma.png" alt="">
                    </figure>
                </div>           
                
                <ul>
                    <li>UERJ - Letras - Inglês, Literatura Inglesa e Norte Americana</li>
                    <li>UERJ - Especialização em Ingles Arcaico e Obras de Shakespeare (1998)</li>
                    <li>TKT - cambridge - Certificações Internacionais para Mestres</li>
                    <li>Trinity University - London - Curso de Atualização de Professores</li>
                    <li>Brigham Young University - BYU - Utah - curso de Atualização de Professores</li>
                    <li>Cultura Inglesa - Curso Completo - Inclusive Formação de Professores</li>
                    <li>Pontuação TOEIC - 970 pontos</li> 
                </ul> 
                    
            </article>
            
        </section>       
        
        {{content}}             

        <footer>
            <section>
                <p class="footer-title"> Contato</p>
                <p class="footer-subtitle">(21) 9 9999-9999</p>              
            </section>
        </footer>
    </body>
</html>